@import "tailwindcss";

/* Light theme variables */
:root {
  --background: #ffffff;
  --foreground: #0f172a;
}

/* Dark theme variables */
.dark {
  --background: #0f172a;
  --foreground: #e2e8f0;
}

body {
  background: var(--background);
  color: var(--foreground);
}
html {
  scroll-behavior: smooth;
}
